*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display:flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 10px;
}
.logo a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.menu{
    display: flex;
    list-style: none;
}
.menu li{
    margin-left: 10px;
}
.menu li a {
    color: #333;
}
.banner{
    background-color: teal;
    color: #fff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    margin-top: 20px;
}

.banner-info {
    text-align: center;

}

.banner-info img {
    width: 300px;
    border-radius: 100%;

}
 main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 }
main div {
    padding: 20px;
    text-align: center;
}
main div p {
    margin: 10px;
}

 main img {
    width: 100%;
    border-radius: 20px;
 }
 footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
 }
 marquee{
    font-size: 30px;
    font-weight: 800;
    color: #ff0000;
    background-color:#ffa500 ;
    font-family: oblique;
    font-style: oblique;
 }
 footer marquee{
    font-size: 20px;
    font-weight: 500;
    color: #0000ff;
    background-color:#ffa500 ;
    font-family: oblique;
    font-style: oblique;
 }